.cu-list{width:70%}
.cu-container{margin:0 auto;display:flex;justify-content:center;margin-top:10%}
.pr-40{padding-right:40px}
.m-10{margin:10px}
.cu-add-btn{margin:20px!important;right:18%;position:absolute}
.cu-message{text-align:center;background:#d1f2eb;padding:10px}